html,
body {
    margin: 0;
    padding: 0;
}

/***** navbar *****/

img {
    width: 50px;
    padding: 10px 10px;
}

nav {
    background-color: #071D20;
    color: white;
    width: 100%;
}

nav li {
    padding: 0 10px;
}

#login {
    border-style: solid;
    border-color: #7BD0DC;
    border-radius: 4px;
}

.nav-item:hover {
    background-color: #7BD0DC;
    border-radius: 4px;
}

/***** End navbar *****/

/***** section-1 *****/

#section-1 {
    background-image: url(../img/home-bg.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 600px;
}

#section-1 {
    text-align: center;
    color: #071D20;
    text-shadow: 0 0 1px rgb(66, 66, 66);
    margin: 0;
}

#section-1 h1 {
    letter-spacing: 10px;
    font-size: 50px;
    padding-top: 250px;
    margin-bottom: 0;
    font-family: 'Segoe UI';
    font-weight: 600;
}

#section-1 p {
    color: #071D20;
    letter-spacing: 8px;
    font-size: 20px;
    font-family: 'Trebuchet MS';
    text-shadow: 0 0 1px black;
}

/***** End section-1 *****/

/***** section-2 *****/

.form_section {
    width: 100%;
    height: 500px;
}

.div2 {
    margin-top: 100px;
    font-family: 'Trebuchet MS';
}

form legend {
    font-size: x-large;
    font-family: 'Segoe UI';
    letter-spacing: 2px;
    margin-bottom: 30px;
}

form label {
    font-size: larger;
    text-shadow: 0 0 1px grey;
}

form input {
    padding: 9px 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}

form input,
form label {
    letter-spacing: 2px;
}

form input:hover {
    border-color: #7BD0DC;
    border-style: solid;
}

#submit {
    color: white;
    background-color: #071D20;
    text-shadow: 0 0 1px rgb(236, 232, 232);
    font-family: 'Trebuchet MS';
    border-radius: 10px;
    font-size: medium;
    letter-spacing: 1px;
}

#submit:hover {
    background-color: #7BD0DC;
    color: #0A1829;
    font-size: medium;
    text-shadow: 0 0 2px rgb(126, 125, 125);
    cursor: pointer;
}

.form_section h2 {
    font-size: 40px;
    text-shadow: 0 0 1px grey;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: #7BD0DC;
    text-decoration-thickness: 3px;
}

/***** End section-2 *****/

/*  contact  */

footer {
    background-image: linear-gradient(to bottom right, rgb(65, 65, 65), rgb(40, 40, 40), #000000);
    color: white;
    padding: 10px;
    text-shadow: 0 0 4px grey;
}

footer h2 {
    text-align: center;
    font-family: 'Trebuchet MS';
    letter-spacing: 2px;
    padding-top: 30px;
    text-decoration-line: underline;
    text-decoration-color: #7BD0DC;
    text-decoration-thickness: 3px;
}

footer address,
p {
    font-family: 'Trebuchet MS';
    font-size: 18px;
    color: white;
    padding: 10px 30px;
    letter-spacing: 2px;
}